body {
	background-color: #FFFFFF;
}

.text-primary-colour {
	color: #06A763;
}

.text-accent-colour {
	color: #1976D2;
}

.primary-colour {
	background-color: #06A763;
}

.accent-colour {
	background-color: #1976D2;
}

.grey-colour {
	background-color: #f5f5f5;
}

.white-text {
	color: #fff;
}

.inner-padding-md {
	padding: 5%;
}

.inner-padding-sm {
	padding: 3%;
}

.horizontal-padding-sm {
	padding-right: 3%;
	padding-left: 3%;
}

.invisible-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 175%;
}

.header-background{
	position: relative;
	display: block;
	width: 100%;
	height: 370px;
	background: url(./res/hero.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.negative-margin-top {
	margin-top: -250px;
}

.img-rounder {
	border-radius: 5%;
	overflow: hidden;
	margin-top: 5px;
}

.img-rounder-circle {
	border-radius: 50%;
	overflow: hidden;
}

.shadow {
	box-shadow: 0px 0px 10px #4d4d4d;
}

.img-max-width {
	width: 100%;
} 
/*add this*/

.btn-full-width {
	width: 100%;
}

.facebook-colour {
	background-color: #3b5998;
}

.twitter-colour {
	background-color: #55acee;
}

.linkedin-colour {
	background-color: #007bb5;
}

.gmail-colour {
	background-color: #dd4b39;
}

a {
	color: white;
}

.black-bordered {
	border: 0.5px solid black;
}

a:hover {
	color: white;
	opacity: 0.5;
}

.img-banner-container {
	height: 250px;
	overflow: hidden;
}

.timeline-right {
	border-right: 5px solid #1976D2;
}

.back-to-top-box {
	z-index: 100;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.back-to-top-box:hover {
	opacity: 0.5;
}

.back-to-top-box-inner {
	padding-top: 10px;
}

.pull-right {
	text-align: right;
}

@media only screen and (max-width: 575px) {
	.breakpoint-mobile-hide {
		display: none;
	}
	.timeline-right {
		border-right: none;
	}
}