@font-face {
    font-family: 'Raleway';
    src: url('./raleway_regular.ttf');
}

*::selection {
  background: lightcoral; /* WebKit/Blink Browsers */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

.head-section {
	height: 100vh;
	padding-left: 15vw;
	padding-right: 15vw;
	display: flex;
	align-items: center;
	background-color: #a8afeb;
}

.head-section-items {
	animation: fade-in 2s linear;
}

.pre-head-section {
	padding-top: 15vh;
	display: flex;
	height: 15vh;
}

.post-head-section {
	margin-top: 20vh;
	text-align: center;
	animation: fade-in 5s linear;
}

.head-section-container {
	display: flex;
	align-items: center;
}

.head-section-left {
	flex: 1 0;
}

.head-section-right {
	flex: 1 0;
}

.intro-text {
	font-size: 40px;
}

.bottom-arrow {
	width: 100%;
	font-size: 50px;
}

.profile-image {
	background-image: url("./me.png");
	background-size: cover;
	flex-grow: 2;
	height: 20vw;
	width: 20vw;
  	margin: 0 auto;
}





.skills-section {
	height: 100vh;
	background-color: red;
}


.achievements-section {
	height: 30vh;
	background-color: green;
}

.projects-section {
	height: 100vh;
	background-color: blue;
}

.footer-section {
	height: 10vh;
	background-color: pink;
}




.sliding-background-container {
	width: 50%;
	margin: 0 auto;
	height: 500px;
	overflow: hidden;
}

.sliding-background {
  background: url("./pic.jpg") repeat-y;
  height: 3150px; /* The image size * 3 */
  width: 1300px; /* The image size */
  animation: slide 10s linear infinite alternate;
}

@keyframes slide {
	0%{
		transform: translate3d(0, 0, 0);
		background-image: url("./pic.jpg");
	}
	100%{
		transform: translate3d(0, -1050px, 0); /* The image size */
		background-image: url("./pic_2.jpg");
	}
}

@keyframes change {
	10%{
		background-color: red;
	}
	50%{
		background-color: yellow;
	}
	100%{
		background-color: blue;
	}
}

@keyframes fade-in {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}